[Unit]
Description=Hello World HTTP
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/app/go-server-systemd
ExecReload=kill -HUP $MAINPID
StandardOutput=append:/app/test.log
StandardError=append:/app/test.log

[Install]
WantedBy=multi-user.target
